{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="{% static 'expense/style.css' %}">


    
    {% block styles %}
        
    {% endblock styles %}
        
    <title>
    {% block title %} {% endblock title %} | Expense tracker
        </title>
</head>
<body>
    {% include 'nav.html' %}

    <div class="container m-5">
        {% block main %}
            
        {% endblock main %}
    </div>

    
    {% block bottom %}
        
    {% endblock bottom %}
        
        
</body>
</html>