{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>
        food app 
        
        {% block title %}
            
        {% endblock title %}
            
    </title>
</head>
<body>

    <nav class="nav-bar">
        <ul class="nav-list">
            <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'create_product' %}" class="nav-link">Add food</a>
            </li>
            {% if user.is_authenticated %}
            
            <li class="nav-item">
                <a href="{% url 'profile' %}" class="nav-link">Profile</a>
            </li>
                <li class="nav-item">
                    <!-- <a href="{% url 'logout' %}" class="nav-link">Logout</a> -->
                     <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">logout</button>
                     </form>
                </li>
                
            {% else %}
                <li class="nav-item">
                    <a href="{% url 'login' %}" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'register' %}" class="nav-link">Register</a>
                </li>
            {% endif %}
        </ul>
    </nav>

    <div class="success-message">
        
        {% if messages %}
            
            {% for message in messages %}
                <p> {{message}} </p>
            {% endfor %}
                
        {% endif %}
            
    </div>

    <div class="container">
        
        {% block main %}
            
        {% endblock main %}
            
    </div>
    
</body>
</html>