{% extends 'base.html' %}

{% block title %}
     | {{product.name}}
{% endblock title %}



{% block main %}
    <div class="product-detail-container">
        <div class="product-detail-image-container">
            
            {% if product.image %}
                <img src="{{product.image.url}}" alt="{{product.name}}" class="product-detail-image">
            {% endif %}
            <div class="product_details">
                <h1 class="product-detail-title">{{product.name}}</h1>
                <h2>${{product.price}}</h2>
                <p class="details">
                    {{product.description}}
                </p>
                <a href="#" class="delete-product">Delete</a>
            </div>
                
        </div>
    </div>
{% endblock main %}
    
    