<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
<h2>
    {{user.name}}
</h2>
<h2>
    {{user.email}}
</h2>
<h2>
    {{user.phone}}
</h2>
<hr>
<br>

<div class="">
    <h3>Summary</h3>
    <p>{{user.summary}}</p>
</div>
<div class="">
    <h3>Degree</h3>
    <p>{{user.degree}}</p>
</div>
<div class="">
    <h3>Education</h3>
    <ul>
        <li>{{user.school}}</li>
        <li>{{user.University}}</li>
    </ul>
</div>

<div class="">
    <h3>Previous work</h3>
    <p>{{user.previous_work}}</p>
</div>

<div class="">
    <h3>Skills</h3>
    <p>{{user.skills}}</p>
</div>

</html>